<style>
  /* Light yellow background for all pages using this navbar; index.ejs overrides via inline style */
  body { background-color: #f7f0d0; }
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Supermarket App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <% if (user && user.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/inventory">Inventory</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Users">User Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Help Desk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addProduct">Add New Product</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } else if (user && user.role === 'user') { %>
            <li class="nav-item">
              <a class="nav-link" href="/shopping">Shop</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Shopping Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orderHistory">Order History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
